
.Display {
    height: 500px;
    width: 700px;
    /* background-color: black; */
}

@media (min-width: 769px) {
    .DesktopButtons {
        display: none;
    }
}

.Spacer {
    width: 70%;
    height: 3px;
    background: grey;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
